DJANGO_SECRET_KEY=sua-chave-secreta-aqui-mude-em-producao
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,frontend
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=escolavoz
MYSQL_USER=escolavoz
MYSQL_PASSWORD=senha_do_banco_mude
MYSQL_ROOT_PASSWORD=senha_root_mude
NUXT_PUBLIC_API_URL=http://localhost:8000
NUXT_PUBLIC_FRONTEND_URL=http://localhost:3000